Repository sandstorm-io/sandstorm, pull requests merged in 2020-09, with the labels that each got.

#3425 Update docs: Remove mention of Sandcats HTTPS certificate service
  docs/administering/sandcats-https.md
  docs/administering/sandcats.md
Labels: documentation

#3439 Remove an obsolete reference to oasis.
  shell/imports/client/grain.html
Labels: ready-for-review, shell

#3440 Factor out some common code in grain list template.
  shell/imports/client/grain/grainlist-client.js
  shell/imports/client/grain/grainlist.html
Labels: ready-for-review, shell

#3442 Add comment CSRF headers to whitelist.
  src/sandstorm/web-session.capnp
Labels: app-platform, enhancement, ready-for-review

#3431 app-index: Use powerbox/ApiSession for keybase API
  src/sandstorm/app-index/app-index.c++
  src/sandstorm/app-index/app-index.capnp
  src/sandstorm/app-index/keybase-api.capnp
  src/sandstorm/app-index/keybase.c++
  src/sandstorm/app-index/keybase.h
  src/sandstorm/app-index/review.html
Labels: ready-for-review, security

#3434 Remove obsolete messges re: oasis.
  shell/imports/client/apps/applist.html
  shell/imports/client/grain/grainlist.html
  shell/imports/client/shell-client.js
Labels: ready-for-review, shell
