Repository sandstorm-io/sandstorm, pull requests merged in 2020-04, with the labels that each got.

#3280 admin panel: add an explanation for network capabilities.
  shell/i18n/en.i18n.json
  shell/imports/client/admin/network-capabilities.html
Labels: ready-for-review, shell

#3279 Add a robots.txt
  shell/public/robots.txt
Labels: ready-for-review, shell

#3287 Docs: Square up search box
  docs/extra.css
Labels: documentation

#3261 Spec out a capnp version of the devmode protocol.
  src/sandstorm/control-socket.capnp
Labels: app-packaging, ready-for-review

#3220 postMessage API for getting the grain's title.
  docs/developing/path.md
  shell/imports/client/grain-client.js
  shell/imports/client/grain/grainview.js
Labels: app-platform, ready-for-review

#3263 Mount a tmpfs at /dev/shm in the sandbox.
  Makefile
  src/sandstorm/supervisor.c++
  src/sandstorm/test-app/test-app.c++
  src/sandstorm/test-app/test-app.html
  tests/tests/system-api.js
Labels: app-platform, ready-for-review

#3281 install.sh: on busybox systems, use adduser
  install.sh
Labels: install-config

#3249 Update meteor-testapp to Meteor 1.8.2 / meteor-spk 0.5.0
  Makefile
  meteor-testapp/.meteor/.finished-upgraders
  meteor-testapp/.meteor/packages
  meteor-testapp/.meteor/release
  meteor-testapp/.meteor/versions
  meteor-testapp/package.json
Labels: sandstorm-dev

#3293 Fix more `no-undef` eslint warnings.
  .github/workflows/build.yml
  shell/.eslintrc.yml
  shell/imports/blackrock-payments/server/payments-server.js
  shell/imports/client/00-startup.js
  shell/imports/client/accounts/account-settings.js
  shell/imports/client/admin-client.js
  shell/imports/client/admin/login-providers.js
  shell/imports/client/admin/personalization-client.js
  shell/imports/client/setup-wizard/wizard.js
  shell/imports/client/shell-client.js
  shell/imports/sandstorm-autoupdate-apps/autoupdate-apps-tests.js
  shell/imports/sandstorm-autoupdate-apps/autoupdate-apps.js
  shell/imports/sandstorm-ui-topbar/topbar.js
  shell/imports/server/00-startup.js
  shell/imports/server/backup.js
  shell/imports/server/core.js
  shell/imports/server/drivers/external-ui-view.js
  shell/imports/server/drivers/mail.js
  shell/imports/server/gateway-router.js
  shell/imports/server/hack-session.js
  shell/imports/server/scheduled-job.js
  shell/imports/server/stats-server.js
  shell/imports/server/transfers-server.js
  shell/imports/shared/testing.js
  tests/apps/schedule.js
Labels: shell

#3298 Some cleanup of shared/testing.
  shell/client/main.ts
  shell/imports/client/testing.js
  shell/imports/server/testing.js
  shell/imports/shared/testing.js
  shell/server/main.ts
  tests/commands/loginGithub.js
  tests/commands/loginGoogle.js
Labels: ready-for-review, shell

#3304 Fix bitrot in install docs.
  docs/install.md
Labels: documentation
