Repository sandstorm-io/sandstorm, pull requests merged in 2020-05, with the labels that each got.

#3306 Fix typo.
  shell/public/manifest.json
Labels: ready-for-review, shell

#3308 Docs: Provide advice for AD-over-LDAP config
  docs/administering/for-work.md
Labels: documentation, ready-for-review

#3307 find-meteor-dev-bundle: don't use empty cache
  find-meteor-dev-bundle.sh
Labels: ready-for-review, sandstorm-dev

#3301 Convert the permissions tests over to mocha & chai.
  .github/workflows/build.yml
  shell/.meteor/packages
  shell/.meteor/versions
  shell/imports/sandstorm-permissions/permissions-tests.js
  shell/imports/sandstorm-permissions/permissions.js
  shell/imports/sandstorm-permissions/permissions.tests.js
  shell/imports/sandstorm-ui-powerbox/powerbox-server.js
  shell/imports/server/00-startup.js
  shell/imports/server/gateway-router.js
  shell/imports/server/grain-server.js
  shell/imports/server/identity.js
  shell/imports/server/persistent.js
  shell/imports/server/startup.js
  shell/npm-shrinkwrap.json
  shell/package.json
  shell/test-packages.sh
Labels: ready-for-review, sandstorm-dev

#3294 Fix flakiness from race condition in installApp test helper
  tests/commands/installApp.js
Labels: ready-for-review, shell

#3292 Fix a crash bug in sandstorm-http-bridge
  src/sandstorm/sandstorm-http-bridge.c++
Labels: app-platform, bug, ready-for-review

#3290 Fix LDAP hasOwnProperty breakage.
  shell/.eslintrc.yml
  shell/imports/server/accounts/ldap.js
  shell/imports/server/accounts/saml-utils.js
  shell/imports/server/shell-server.js
Labels: ready-for-review, shell

#3309 Clean up a bunch of c++ compiler warnings.
  src/sandstorm/app-index/indexer.c++
  src/sandstorm/backend.c++
  src/sandstorm/backend.h
  src/sandstorm/backup.h
  src/sandstorm/gateway.c++
  src/sandstorm/gateway.h
  src/sandstorm/sandstorm-http-bridge.c++
  src/sandstorm/smtp-proxy.c++
  src/sandstorm/spk.c++
  src/sandstorm/supervisor.c++
  src/sandstorm/supervisor.h
  src/sandstorm/util.h
  src/sandstorm/web-session-bridge.c++
Labels: ready-for-review, sandstorm-dev

#3299 Let's Encrypt support
  acme-dns-01-sandcats/.gitignore
  acme-dns-01-sandcats/LICENSE
  acme-dns-01-sandcats/README.md
  acme-dns-01-sandcats/index.js
  acme-dns-01-sandcats/package-lock.json
  acme-dns-01-sandcats/package.json
  acme-dns-01-sandcats/test.js
  shell/client/main.ts
  shell/client/styles/_admin-certificates.scss
  shell/client/styles/_new-admin.scss
  shell/client/styles/_widgets.scss
  shell/i18n/en.i18n.json
  shell/imports/client/admin-client.js
  shell/imports/client/admin/admin.html
  shell/imports/client/admin/certificates-client.js
  shell/imports/client/admin/certificates.html
  shell/imports/client/shell.html
  shell/imports/sandstorm-db/db.js
  shell/imports/server/acme.js
  shell/imports/server/admin-server.js
  shell/imports/server/sandcats.js
  shell/npm-shrinkwrap.json
  shell/package.json
  shell/server/main.ts
Labels: enhancement, install-config, self-hosting

#3311 Revert "Fix flakiness from race condition in installApp test helper"
  tests/commands/installApp.js
Labels: sandstorm-dev

#3158 docs(nginx-example): update ssl config
  docs/administering/sample-config/nginx-example.conf
Labels: documentation, ready-for-review

#3164 docs(apache-example): update ssl config
  docs/administering/sample-config/apache-virtualhost.conf
Labels: documentation, ready-for-review

#3312 Docs: Quick fix for FAQ entry about Let's Encrypt
  docs/administering/faq.md
Labels: documentation, ready-for-review

#3320 Revert "Explicit imports for 'Iron'"
  shell/imports/client/admin/login-providers.js
  shell/imports/client/setup-wizard/wizard.js
Labels: bug, ready-for-review, shell

#3321 Add explicit imports for iron:core.
  shell/imports/client/admin/login-providers.js
  shell/imports/client/setup-wizard/wizard.js
Labels: ready-for-review, shell

#3316 More eslint fixes.
  shell/imports/blackrock-payments/client/billingPrompt.js
  shell/imports/blackrock-payments/client/billingSettings.js
  shell/imports/blackrock-payments/client/payments-client.js
  shell/imports/blackrock-payments/server/payments-api-server.js
  shell/imports/blackrock-payments/server/payments-server.js
Labels: shell

#3323 Fix broken use of Settings.
  shell/imports/db-deprecated.js
  shell/imports/sandstorm-db/profile.js
Labels: bug, ready-for-review, shell

#3314 Remove redundant implementation of waitPromise.
  shell/imports/sandstorm-db/db.js
Labels: ready-for-review, shell

#3333 Fix doc typo
  docs/developing/powerbox.md
Labels: documentation

#3315 Use es6 modules in the Sandcats ACME.js plugin (again).
  acme-dns-01-sandcats/index.js
  acme-dns-01-sandcats/package.json
  acme-dns-01-sandcats/test.js
Labels: ready-for-review

#3327 Remove "Home" label from login page
  shell/i18n/en.i18n.json
  shell/i18n/fi.i18n.json
  shell/i18n/fr.i18n.json
  shell/i18n/nl.i18n.json
  shell/i18n/zh-CN.i18n.json
  shell/i18n/zh-TW.i18n.json
  shell/imports/client/shell.html
Labels: ready-for-review, shell

#3332 Fix comment typo
  src/sandstorm/grain.capnp
Labels: ready-for-review

#3318 install.sh: If port 80 is taken, but user wants to bail, let them
  install.sh
Labels: bug, install-config, ready-for-review

#3317 Docs: Add sniproxy guide to share TLS port
  docs/administering/sniproxy.md
  docs/administering/ssl.md
  mkdocs.yml
Labels: documentation, ready-for-review

#3335 Update HTTPS_PORT in sandstorm.conf docs
  docs/administering/config-file.md
Labels: documentation, ready-for-review

#3336 Mark HIDE_TROUBLESHOOTING deprecated, reordering
  docs/administering/config-file.md
Labels: documentation

#3343 Convert `async-helpers` to type script.
  .github/workflows/build.yml
  shell/.eslintrc.yml
  shell/imports/sandstorm-db/db.js
  shell/imports/sandstorm-ui-powerbox/powerbox-server.js
  shell/imports/server/00-startup.js
  shell/imports/server/accounts/accounts-server.js
  shell/imports/server/accounts/saml-utils.js
  shell/imports/server/acme.js
  shell/imports/server/async-helpers.ts
  shell/imports/server/backend.js
  shell/imports/server/backup.js
  shell/imports/server/core.js
  shell/imports/server/demo-server.js
  shell/imports/server/dev-accounts-server.js
  shell/imports/server/drivers/external-ui-view.js
  shell/imports/server/drivers/ip.js
  shell/imports/server/drivers/mail.js
  shell/imports/server/gateway-router.js
  shell/imports/server/grain-server.js
  shell/imports/server/hack-session.js
  shell/imports/server/install-server.js
  shell/imports/server/installer.js
  shell/imports/server/migrations.js
  shell/imports/server/notifications-server.js
  shell/imports/server/persistent.js
  shell/imports/server/pre-meteor.js
  shell/imports/server/sandcats.js
  shell/imports/server/scheduled-job.js
  shell/imports/server/shell-server.js
  shell/imports/server/static-asset.js
  shell/imports/server/stats-server.js
  shell/imports/server/transfers-server.js
  shell/imports/shared/grain-shared.js
  shell/npm-shrinkwrap.json
  shell/package.json
  shell/public/pwa-service-worker.js
Labels: ready-for-review, shell

#3338 Warn the user if the config file contains unrecognized options.
  src/sandstorm/config.c++
Labels: install-config, ready-for-review, self-diagnostics

#3334 Fix comment
  src/sandstorm/powerbox.capnp
Labels: ready-for-review

#3348 Some cleanup in db.js
  shell/imports/sandstorm-db/db.js
Labels: ready-for-review, shell

#3351 Make uploadMeteorTestApp.js navigate to a canonical URL
  tests/commands/uploadMeteorTestApp.js
Labels: ready-for-review, sandstorm-dev, shell

#3352 Silence a bunch of unused-argument warnings
  .github/workflows/build.yml
  shell/.eslintrc.yml
  shell/imports/server/migrations.js
Labels: ready-for-review, sandstorm-dev, shell
