Repository sandstorm-io/sandstorm, pull requests merged in 2020-06, with the labels that each got.

#3355 Deal with some more eslint warnings re: unused parameters.
  .github/workflows/build.yml
  shell/imports/client/shell-client.js
  shell/imports/server/grain-server.js
  shell/imports/server/shell-server.js
  shell/imports/shared/admin.js
Labels: ready-for-review, shell

#3356 Fix bug re: mass transfers resulting in tokens not being deleted.
  .github/workflows/build.yml
  shell/imports/server/transfers-server.js
Labels: ready-for-review, shell

#3362 First pass at modernizing ssl.md
  docs/administering/ssl.md
Labels: documentation

#3354 Allow scrolling the navbar
  shell/client/styles/_topbar.scss
Labels: ready-for-review, shell, usability

#3363 Larger changelog box on about
  shell/client/styles/_about.scss
Labels: ready-for-review, shell, usability

#3364 Quiet some unused parameter warnings.
  .github/workflows/build.yml
  shell/imports/server/hack-session.js
  shell/imports/server/notifications-server.js
  shell/imports/server/transfers-server.js
Labels: ready-for-review, shell

#3376 ACME: don't request cert for baseHost if covered by wildcard.
  .github/workflows/build.yml
  shell/imports/server/acme.js
Labels: bug, ready-for-review, shell
