Repository sandstorm-io/sandstorm, pull requests merged in 2022-06, with the labels that each got.

#3626 Update file locations in license
  LICENSE
  shell/imports/client/shell.html
Labels: documentation, ready-for-review

#3628 Split `lint` target into separate `lint` and `typecheck-ts` targets.
  .github/workflows/build.yml
  Makefile
  shell/imports/client/backups.ts
  shell/package.json
Labels: sandstorm-dev, ready-for-review

#3631 Cleanup about page
  .github/workflows/build.yml
  shell/client/styles/_about.scss
  shell/i18n/en.i18n.json
  shell/i18n/fi.i18n.json
  shell/i18n/fr.i18n.json
  shell/i18n/nl.i18n.json
  shell/i18n/zh-CN.i18n.json
  shell/i18n/zh-TW.i18n.json
  shell/imports/client/shell-client.js
  shell/imports/client/shell.html
  shell/imports/server/shell-server.js
  shell/public/logos/asheesh.png
  shell/public/logos/audrey.png
  shell/public/logos/david.png
  shell/public/logos/draw.io-logo.svg
  shell/public/logos/drew.png
  shell/public/logos/garply.png
  shell/public/logos/humanweb.png
  shell/public/logos/jade.png
  shell/public/logos/jason.png
  shell/public/logos/jasvir.png
  shell/public/logos/kenton.png
  shell/public/logos/luto.png
  shell/public/logos/miller.png
  shell/public/logos/nena.png
  shell/public/logos/seaborn.png
  shell/public/logos/swetland.png
  shell/public/logos/uniregistry.svg
  shell/public/logos/wagner.png
  shell/public/sandstorm-backers.txt
Labels: shell, ready-for-review

#3632 Capitalize settings
  shell/i18n/en.i18n.json
Labels: shell, ready-for-review

#3634 Installer: Update help URL
  install.sh
Labels: install-config, ready-for-review
