Repository sandstorm-io/sandstorm, pull requests merged in 2023-08, with the labels that each got.

#3700 Add ability to run build action manually
  .github/workflows/build.yml
Labels: sandstorm-dev

#3689 Fix #3688
  shell/imports/client/apps/app-details-client.js
Labels: bug, shell, ready-for-review

#3697 Add Russian localization
  shell/i18n/ru.i18n.json
Labels: shell, ready-for-review

#3698 I18n for grain renaming and grain deletion prompt
  shell/i18n/en.i18n.json
  shell/imports/client/grain-client.js
Labels: shell, ready-for-review
